/* 為了把footer 黏在最下面 必要 */
/****************************************************/
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 150px; /* 如果頁面空白,這兩個數值可以控制距離 */
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px; /* 如果頁面空白,這兩個數值可以控制距離 */
}
/****************************************************/
